$dark-color: #333; // dark text
$showcase-color: #191919; // showcase background color
$light-color: #f4f4f4; // light text & background color
$main-color: #d80000; // buttons, highlights, navbar
$background-grey: #e5e5e5; // background
