%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $main-color;
    background-color: $light-color;
    border-color: $main-color;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

.bottom-line {
  height: 2px;
  width: 6rem;
  background: $main-color;
  display: block;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.red-bullet {
  color: $main-color;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
