// Imports
@import "config";
@import "utilities";
// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: $light-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  color: $dark-color;
}

img {
  width: 100%;
}

// Navbar

header div.container {
  background-color: $showcase-color;
  padding: 0.75rem 0;

  #main-nav {
    width: 60%;
    margin: auto;

    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: $light-color;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        color: $main-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}

// Showcase

header div#showcase {
  background-color: $showcase-color;
  padding-top: 15rem;
  height: 100vh;
  color: $light-color;

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 300;
      letter-spacing: 0.3rem;
      padding: 1rem;
      color: $light-color;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    ul {
      width: 15rem;
      display: flex;
      justify-content: space-between;
      margin: 2rem;

      i {
        color: $light-color;
      }

      i:hover {
        color: $main-color;
      }
    }

    .showcase-buttons {
      a {
        width: 11rem;
        text-align: center;
      }
      a:hover {
        opacity: 0.7;
      }
    }
  }
}

// About Section

section#about {
  background-color: #ffffff;

  .about-all {
    display: flex;
    width: 90%;
    margin: auto;

    .about-content {
      width: 90%;
      margin: auto;
      padding: 3rem 0;

      .title {
        margin: 2rem 0;

        h1 {
          font-weight: 800px;
          font-size: 2.5rem;
        }
      }
    }

    .about-image {
      padding: 3rem 0 3rem 3rem;
    }
  }
}

// Skills Section

section#skills {
  background-color: $light-color;

  .skills-content {
    width: 90%;
    margin: auto;
    padding: 3rem 0;

    .title {
      margin: 2rem 0;

      h1 {
        font-weight: 800px;
        font-size: 2.5rem;
      }
    }

    .skills-boxes {
      display: flex;
      // grid-gap: 1rem;
      // grid-template-columns: repeat(4, 1fr);
      width: 90%;
      justify-content: space-between;
      line-height: 2rem;

      h2 {
        padding-bottom: 0.75rem;
      }
    }
  }
}

// Projects Section
section#projects {
  background-color: #ffffff;

  .projects-content {
    width: 90%;
    margin: auto;
    padding: 3rem 0;

    .title {
      margin: 2rem 0 4rem 0;

      h1 {
        font-weight: 800px;
        font-size: 2.5rem;
      }
    }

    .project-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      padding-left: 3rem;

      .project-card {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        background-color: $light-color;
        text-align: center;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);

        h3 {
          padding-top: 1rem;
        }

        .project-img {
          padding: 1rem 0;
        }

        p.project-description {
          padding: 1rem 1rem 0rem 1rem;
        }

        p.project-skills {
          padding-bottom: 1rem;
          color: grey;
        }
      }
    }
  }
}

// Footer Section
#footer-section {
  background: $dark-color;
  height: 15rem;

  .footer-content {
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-between;
    padding-top: 3rem;

    .left-side {
      color: $light-color;
    }

    .right-side {
      .social-links ul {
        display: flex;

        li {
          padding-right: 1rem;

          a {
            text-decoration: none;
            color: $light-color;

            &:hover {
              color: $main-color;
            }

            &.current {
              border-color: $main-color;
            }
          }
        }
      }
    }
  }
}
